<div class="container" ng-init="getPhrases(); getPendingPhrases()">
    <h2>Moderatorsida</h2>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="name">
    </div>
    <h4>Ej godkända fraser</h4>
    <table class="table table-striped fixed">
        <th>fras1</th>
        <th width="5px"></th>
        <th width="5px"></th>
        <tr ng-repeat="x in pendingPart1 | filter:name  track by $index">
            <td>{{$index+1}}: {{x}}</td>
            <td width="5px"><a href="" ng-click="approvePhrase('part1',x); removePendingPhrase('part1',x); getPendingPhrases()">
                <span class="glyphicon glyphicon-ok"></span></a></td>
            <td width="5px"><a href="" ng-click="removePendingPhrase('part1',x); getPendingPhrases()">
                <span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
    </table>
    <table class="table table-striped fixed">
        <th>fras2</th>
        <th width="5px"></th>
        <th width="5px"></th>
        <tr ng-repeat="x in pendingPart2 | filter:name  track by $index">
            <td>{{$index+1}}: {{x}}</td>
            <td width="5px"><a href="" ng-click="approvePhrase('part2',x); removePendingPhrase('part2',x); getPendingPhrases()">
                <span class="glyphicon glyphicon-ok"></span></a></td>
            <td width="5px"><a href="" ng-click="removePendingPhrase('part2',x); getPendingPhrases()">
                <span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
    </table>
    <table class="table table-striped fixed">
        <th>fras3</th>
        <th width="5px"></th>
        <th width="5px"></th>
        <tr ng-repeat="x in pendingPart3 | filter:name  track by $index">
            <td>{{$index+1}}: {{x}}</td>
            <td width="5px"><a href="" ng-click="approvePhrase('part3',x); removePendingPhrase('part3',x); getPendingPhrases()">
                <span class="glyphicon glyphicon-ok"></span></a></td>
            <td width="5px"><a href="" ng-click="removePendingPhrase('part3',x); getPendingPhrases()">
                <span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
    </table>
    <h4>Godkända fraser</h4>
    <table class="table table-striped">
        <th>fras1</th>
        <th width="5px"></th>
        <th width="5px"></th>
        <tr ng-repeat="x in part1 | filter:name  track by $index">
            <td>{{$index+1}}: {{x}}</td>
            <td width="5px"><p><span class="glyphicon glyphicon-pencil"></span></p></td>
            <td width="5px"><a href="" ng-click="removePhrase('part1',x); getPhrases()">
                <span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </table>
    <table class="table table-striped">
        <th>fras2</th>
        <th width="5px"></th>
        <th width="5px"></th>
        <tr ng-repeat="x in part2 | filter:name  track by $index">
            <td>{{$index+1}}: {{x}}</td>
            <td width="5px"><p><span class="glyphicon glyphicon-pencil"></span></p></td>
            <td width="5px"><a href="" ng-click="removePhrase('part2',x); getPhrases()">
                <span class="glyphicon glyphicon-trash"></span>
            </a></td>
        </tr>
    </table>
    <table class="table table-striped">
        <th>fras3</th>
        <th width="5px"></th>
        <th width="5px"></th>
        <tr ng-repeat="x in part3 | filter:name  track by $index">
            <td>{{$index+1}}: {{x}}</td>
            <td width="5px"><p><span class="glyphicon glyphicon-pencil"></span></p></td>
            <td ><a href="" ng-click="removePhrase('part3',x); getPhrases()">
                <span class="glyphicon glyphicon-trash"></span>
            </a></td>
        </tr>
    </table>
</div>
